'<label class="control-label col-xs-12 col-sm-3 col-md-2 fontWeightBold">Room Type:</label>
            <div class="col-xs-12 col-sm-9 col-md-4">
                <label id="roomType" class="control-label"> {{reservationDetails.room.roomType}}</label>
            </div>
            <label class="control-label col-xs-12 col-sm-3 col-md-2 fontWeightBold">Room Number:</label>
            <div class="col-xs-12 col-sm-9 col-md-4">
                <label id="roomNumber" class="control-label"> {{reservationDetails.room.roomNo}}</label>
            </div>