  <label class="control-label col-xs-12 col-sm-3 col-md-2">Check-in Date:</label>
            <div class="col-xs-12 col-sm-9 col-md-4">
                <input type="date" id="arrivalDate" class="form-control" ng-model="reservationDetails.arrivalDate" placeholder="Date" required>
            </div>
            <label class="control-label col-xs-12 col-sm-3 col-md-2 marginTop">Check-out Date:</label>
            <div class="col-xs-12 col-sm-9 col-md-4">
                <input type="date" id="departureDate" class="form-control marginTop" ng-model="reservationDetails.departureDate" placeholder="Date" required>
            </div>