<div class="container" ng-controller="DetailsCtrl as details">
    <div class="row">
        <div class="col-xs-12">
            <h3>Reservation Details</h3>    
        </div>
    </div>
<form name = "bookRoomForm" class="form-horizontal">

    <div class="form-group">
         <label class="control-label col-xs-12 col-sm-3 col-md-3">Reseravation Number:</label>
         <label class="control-label col-xs-12 col-sm-3 col-md-1">23214</label>
    </div>
   <br/>
    
    <h4>Room Details:</h4>
    <hr>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Arrival Date:</label>
            
       <div class="col-xs-12 col-sm-9 col-md-4">
          <input type="date" id="arrivalDate" class="form-control" placeholder="Date">
        </div>

        <label class="control-label col-xs-12 col-sm-3 col-md-2">Departure Date:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
          <input type="date" id="departureDate" class="form-control" placeholder="Date">
        </div>
  </div>

  <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Room Type:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
            <select id="roomType" class="form-control">
                <option ng-repeat="type in roomtype" value="{{type}}">{{type}}</option>
            </select>
        </div>

         <div class="col-xs-12 col-sm-12 col-md-2">
              <a><button type="button" class="btn btn-default btn-md form-control">
              Get Rooms
            </button></a>
         </div>

       

  </div>

  <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Room Number:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
         <select id="roomnumber" class="form-control">
                <option ng-repeat="number in roomnumbers" value="{{number}}">{{number}}</option>
        </select>      
        </div>

         <label class="control-label col-xs-12 col-sm-3 col-md-2">Smoking:</label>
        <div class="col-xs-12 col-sm-9 col-md-3">
           <input type="text" class="form-control" placeholder="Smoking flag" readonly>
        </div>
  </div>

   <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Rating Code:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
           <input type="text" class="form-control" placeholder="Rating Code" readonly>
        </div>

        <label class="control-label col-xs-12 col-sm-3 col-md-2">Room Rate:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
           <input type="text" class="form-control" placeholder="Room Rate" readonly>
        </div>
  </div>

  <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Room Desc:</label>
        <div class="col-xs-12 col-sm-9 col-md-10">
             <textarea class="form-control" rows="3" id="roomdescription" placeholder="Room Desc" readonly></textarea>
        </div>
  </div>

  <br/>
    
    <h4>Personal Details:</h4>  
    <hr>

     <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Guest Name:</label>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <input type="text" id="firstName" class="form-control" placeholder="First Name">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <input type="text" id="middleName" class="form-control" placeholder="Middle Name">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <input type="text" id="lastName" class="form-control" placeholder="Last Name">
        </div>
    </div>

     <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Address:</label>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <input type="text" id="addressLine1" class="form-control" placeholder="Address Line 1">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <input type="text" id="addressLine2" class="form-control" placeholder="Address Line 2">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <input type="text" id="addressLine3" class="form-control" placeholder="Address Line 3">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Company Name:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
           <input type="text" id="companyName" class="form-control" placeholder="Company Name">
        </div>

        <label class="control-label col-xs-12 col-sm-3 col-md-2">Phone Number:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
           <input type="text" id="phoneNumber" class="form-control" placeholder="Phone Number">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Late Arriaval:</label>
        <div class="col-xs-12 col-sm-9 col-md-1">
           <input class="form-control" id="lateArrival" type="checkbox">
        </div>
  </div>

        
  
    <br/>    
    <h4>Payment Details:</h4> 
    <hr>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Card Type:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
           <select id="cardType" class="form-control">
            <option>Master Card</option> 
               <option>Visa Card</option>
           </select>
        </div>

        <label class="control-label col-xs-12 col-sm-3 col-md-2">Card Number:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
           <input type="text" id="cardNumber" class="form-control" placeholder="Card Number">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Expiry:</label>
       <div class="col-xs-12 col-sm-9 col-md-2">
            
            <select id="expiryMonth" class="form-control">
                <option ng-repeat="month in expirymonth" value="{{month}}">{{month}}</option>
            </select>
        
        
         </div>
        <div class="col-xs-12 col-sm-9 col-md-2">            
            <select id="expiryYear" class="form-control">
                <option ng-repeat="year in expiryyear" value="{{year}}">{{year}}</option>
            </select>        
        
         </div>
    </div>

   
    <hr>
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Coments:</label>
        <div class="col-xs-12 col-sm-9 col-md-10">
           <textarea id="comments" class="form-control" rows="3" id="comments" placeholder="Comments"></textarea>
        </div>
    </div>


    <br/> 
    <div class="form-group">
       <div class="col-xs-12 col-sm-6 col-md-3">
    <!--<a><input type="submit" value="Request Reservation" class="btn btn-default btn-md form-control"--></a>
            <a><button type="button" ng-click="details.storeDetails()" class="btn btn-default btn-md form-control">
              Request Reservation
            </button></a>
       </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
           <a><button type="button" class="btn btn-default btn-md form-control">
              Cancel Reservation
            </button></a>
        </div>
    </div>
  </form>
    
</div>
