<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Reservation Details</h3>    
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <label>Arrival Date:</label>
            <input type="date" class="form-control" placeholder="Date">
            <label>Departure Date:</label>
            <input type="date" class="form-control" placeholder="Date">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <label>Reservation Number:</label><br/>
            <label class="label label-default">2212</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <label>Room Type:</label>
            <input type="text" class="form-control" placeholder="Room Type">
            
            <label>Room Number:</label>
            <input type="text" class="form-control" placeholder="Room Number">
            
            <label>Room Desc:</label>
            <input type="text" class="form-control" placeholder="Room Desc">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <label>Smoking:</label>
            <input type="checkbox">
            
            <label>Rating Code:</label>
            <input type="text" class="form-control" placeholder="Rating Code">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <label>Rating Rate:</label>
            <input type="text" class="form-control" placeholder="Room Rate">
        </div>
    </div>
    <div class="row">
        <div class='col-xs-12'>
            <label>Guest Name:</label>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <input type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <input type="text" class="form-control" placeholder="Middle Name">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <input type="text" class="form-control" placeholder="Last Name">
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
            <label>Company Name:</label>
            <input type="text" class="form-control" placeholder="Company Name">
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
            <label>Address:</label>
            <input type="text" class="form-control" placeholder="Address Line 1">
            <input type="text" class="form-control" placeholder="Address Line 2">
            <input type="text" class="form-control" placeholder="Address Line 3">
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
            <label>Phone:</label>
            <input type="text" class="form-control" placeholder="Phone">
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
            <label>Late Arriaval:</label>
            <input type="checkbox">
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
            <label>Card Type:</label>
            <input type="text" class="form-control" placeholder="Card Type">
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
            <label>Card Number:</label>
            <input type="text" class="form-control" placeholder="Card Number">
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
            <label>Expiry:</label>
            <div class="row">
                <div class="col-xs-6">
                    <div class="dropdown" class="col-xs-3">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Month
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a>Jan</a></li>
                        <li><a>Feb</a></li>
                        <li><a>March</a></li>
                      </ul>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="dropdown" class="col-xs-3">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Year
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a>2015</a></li>
                        <li><a>2016</a></li>
                        <li><a>2017</a></li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
            <label>Comments:</label>
            <input type="text" class="form-control" placeholder="Comments">
        </div>
    </div>
    
</div>
