<div class="row loginpage" ng-controller="MainCtrl as main">
    <!--<ol class="ab-nav breadcrumb">
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
      <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
      <span ng-if="$last" ng-bind="breadcrumb.label"></span>
    </li>
    </ol>-->
    <div class="col-xs-12">
        <div class="row">
            <img src="images/banner_large.jpg" alt="Ocean View Hotel Image" />
        </div>
        <div class="row">
            <br/>
            <br/>
            <div class="row">
                <!-- <label class="control-label col-xs-12 col-sm-3 col-md-offset-2 col-md-2">
                    <h4>Backend System:</h4></label>
                <div class="col-xs-12 col-sm-9 col-md-4">
                    <select id="systemId" class="form-control" ng-model="selectedSystem">
                        <option ng-repeat="system in backendSystems" value="{{system}}">{{system}}</option>
                    </select>
                </div> -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4">

                    <form id="loginform" name="loginform">
                        <fieldset>
                            <h3>Login</h3>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12 ">
                                    <input type="text " id="username" name="username" class="form-control marginTop " placeholder="username" ng-model="username" ng-required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <input type="password" id="password " name="password" class="form-control marginTop " placeholder="password " ng-model="password" ng-required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12 login-button">
                                    <a href="#/search">
                                        <button type="button" class="btn btn-md" ng-click="main.onHRSGLogin('ac')">
                                            Login
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </fieldset>

                        <div class="circle" ><span>OR</span>
                           
                        </div>
                         <hr style="margin-top: -15px; margin-bottom: 30px">



                        <div class="form-group">
                            <!--<fb:login-button size="xlarge" scope="public_profile,email" onlogin="checkLoginState();" ng-click="main.onHRSGLogin('fb')"></fb:login-button> -->
                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="col-xs-12">
                                    
                                        <a class="btn btn-block btn-social btn-facebook" scope="public_profile,email" ng-click="main.onHRSGLogin('fb')">
                                            <span class="fa fa-facebook"></span>Login with Facebook
                                        </a>
                                        <!-- <label id="statusHeader">Logged in as: <label id="status"></label></label> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <!--  <a href="#/search">
                    <button type="button" class="btn btn-md" ng-click="main.onHRSGLogin('ac')">
                        Accenture Login
                    </button>
                </a> -->
                <!--<a scope="public_profile,email" onclick="checkLoginState()"><button type="button" class="btn btn-default btn-lg btn-md facebookButton">
             Login via Facebook
            </button></a>-->
                <!--  <fb:login-button size="xlarge" scope="public_profile,email" onlogin="checkLoginState();" ng-click="main.onHRSGLogin('fb')"></fb:login-button> -->
                <!-- <div id="status">
            </div>-->
            </div>
        </div>
    </div>
</div>