<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <h3>Reservation System</h3>
            <a href="#/search"><button type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Login via Accenture ID
            </button></a>
            <br/>
            <br/>
            <a ng-click="main.checkLoginState()"><button type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Login via Facebook
            </button></a>
            
            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
            </fb:login-button>

            <div id="status">
            </div>
        </div>
    </div>
</div>