<div class="container">
    <div class="row">
    <div class="col-xs-12">
            <h3>Search Rooms</h3>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-4"><h4 class="pull-left">Last Name</h4></div>
                        <div class="col-xs-4"><h4 class="pull-left">Arrival Date</h4></div>
                        <div class="col-xs-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="text" class="form-control" placeholder="Last Name">
                        </div>
                        <div class="col-xs-4">
                            <input type="date" class="form-control" placeholder="Arrival Date">
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover textAlignLeft">
                  <thead>
                      <th>#</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Email</th>
                      <th>Room No</th>
                      <th>Actions</th>
                  </thead>
                  <tbody>
                     <tr>
                        <td>1</td>
                        <td>Ankit</td>
                         <td>Tanna</td>
                         <td>ankit.bharat.tanna@accenture.com</td>
                         <td>134</td>
                         <td>
                            <p>
                              <button type="button" class="btn btn-info btn-sm">Modify</button>
                              <button type="button" class="btn btn-danger btn-sm">Delete</button>
                            </p>
                         </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ankit</td>
                         <td>Tanna</td>
                         <td>ankit.bharat.tanna@accenture.com</td>
                         <td>134</td>
                         <td>
                            <p>
                              <button type="button" class="btn btn-info btn-sm">Modify</button>
                              <button type="button" class="btn btn-danger btn-sm">Delete</button>
                            </p>
                         </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ankit</td>
                         <td>Tanna</td>
                         <td>ankit.bharat.tanna@accenture.com</td>
                         <td>134</td>
                         <td>
                            <p>
                              <button type="button" class="btn btn-info btn-sm">Modify</button>
                              <button type="button" class="btn btn-danger btn-sm">Delete</button>
                            </p>
                         </td>
                    </tr>
                  </tbody>
                </table>
            </div>
    </div>
</div>
</div>
