<div class="container">
    <form id="reservationform" name="reservedRoomForm" class="form-horizontal">
    <h4>New Room Reservation: </h4>
       
        <div class="form-group">
            
             <label class="control-label col-xs-12 col-sm-3 col-md-3 col-md-offset-2">Reserve a Room:</label>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <a href="#/details">
                    <button type="button" class="btn btn-default btn-md form-control"> Reserve Room
                    </button>
                </a>
            </div>
        </div>
    </form>
    
    <hr>
    <form id="serchreservationform" name="searchReservedRoomForm" class="form-horizontal">
        <h4>Search Reserved Rooms: </h4>
     
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3 col-md-2">Last Name:</label>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <input type="text" class="form-control" placeholder="Last Name" ng-model="search.searchLastName">
            </div>
            <label class="control-label col-xs-12 col-sm-3 col-md-2">Arrival Date:</label>
            <div class="col-xs-12 col-sm-9 col-md-3">
                <input type="date" class="form-control" placeholder="Date" ng-model="search.searchArrivalDate">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2">
                <a>
                    <button type="button" class="btn btn-default btn-md form-control" ng-click="search.searchReservations()">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                    </button>
                </a>
            </div>
        </div>
        <br/>
        <hr>
        <div class="form-group">
            <table class="table table-hover textAlignLeft">
                <thead>
                    <tr>
                        <th>Res No.</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Arrival Date</th>
                        <th>Departure Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(index, reservation) in reservations">
                        <td><a href="view.html">{{reservation.reservationNumber}}</a></td>
                        <td>{{reservation.firstName}}</td>
                        <td>{{reservation.lastName}}</td>
                        <td>{{reservation.arrivalDate}}</td>
                        <td>{{reservation.departureDate}}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-md form-control ">Modify</button>
                            <button type="button" class="btn btn-default btn-md form-control ">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
