<div class="container" ng-controller="DetailsCtrl as details">
    <div class="row">
        <div class="col-xs-12">
            <h3>View Reservation Details</h3>    
        </div>
    </div>
<form name = "bookRoomForm" class="form-horizontal">

    <div class="form-group">
         <label class="control-label col-xs-12 col-sm-3 col-md-3">Reseravation Id:</label>
         <label class="control-label col-xs-12 col-sm-3 col-md-1">23214</label>
    </div>
   <br/>
    
    <h4>Room Details</h4>
    <hr>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Check-in Date:</label>
            
       <div class="col-xs-12 col-sm-9 col-md-4">
          <input type="text" id="arrivalDate" class="form-control" placeholder="Date" readonly>
        </div>

        <label class="control-label col-xs-12 col-sm-3 col-md-2">Check-out Date:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
          <input type="text" id="departureDate" class="form-control" placeholder="Date" readonly>
        </div>
    </div>
    
  <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Room Type:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
            <input type="text" id="roomType" class="form-control" readonly>
        </div>
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Room Number:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
            <input type="text" id="roomNumber" class="form-control" readonly>
        </div>
         
   </div>
    
    
    


  <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Room Desc:</label>
        <div class="col-xs-12 col-sm-9 col-md-9">
             <textarea class="form-control" rows="3" id="roomdescription" placeholder="Room Desc" readonly></textarea>
        </div>

  </div>

   <div class="form-group">
       <label class="control-label col-xs-12 col-sm-3 col-md-2">Room Rate:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
           <input type="text" class="form-control" placeholder="Room Rate" readonly>
        </div>
       
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Rating Code:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
           <input type="text" class="form-control" placeholder="Rating Code" readonly>
        </div>  
  </div>

  <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Smoking:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
           <input type="text" class="form-control" placeholder="Smoking Flag" readonly>
        </div>
         
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Late Arriaval:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
           <input type="text" class="form-control" id="lateArrival" readonly>
        </div>
  </div>

  <br/>
    
    <h4>Personal Details:</h4>  
    <hr>

     <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Guest Name:</label>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <input type="text" id="firstName" class="form-control" placeholder="First Name" readonly>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <input type="text" id="middleName" class="form-control" placeholder="Middle Name" readonly>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <input type="text" id="lastName" class="form-control" placeholder="Last Name" readonly>
        </div>
    </div>

     <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Address:</label>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <input type="text" id="addressLine1" class="form-control" placeholder="Address Line 1" readonly>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <input type="text" id="addressLine2" class="form-control" placeholder="Address Line 2" readonly>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <input type="text" id="addressLine3" class="form-control" placeholder="Address Line 3" readonly>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Company Name:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
           <input type="text" id="companyName" class="form-control" placeholder="Company Name" readonly>
        </div>

        <label class="control-label col-xs-12 col-sm-3 col-md-2">Phone Number:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
           <input type="text" id="phoneNumber" class="form-control" placeholder="Phone Number" readonly>
        </div>
    </div>

    <br/>    
    <h4>Payment Details:</h4> 
    <hr>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Card Type:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
           <input type="text" id="cardType" class="form-control" placeholder="Card Type" readonly> 
        </div>

        <label class="control-label col-xs-12 col-sm-3 col-md-2">Card Number:</label>
        <div class="col-xs-12 col-sm-9 col-md-4">
           <input type="text" id="cardNumber" class="form-control" placeholder="Card Number" readonly>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Expiry:</label>
       <div class="col-xs-12 col-sm-9 col-md-2">
            <input type="text" id="expiryDate" class="form-control" placeholder="Expiry Date" readonly>    
         </div>
        <div class="col-xs-12 col-sm-9 col-md-2">            
            
        
         </div>
    </div>

   
    <hr>
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 col-md-2">Coments:</label>
        <div class="col-xs-12 col-sm-9 col-md-10">
           <textarea id="comments" class="form-control" rows="3" id="comments" placeholder="Comments" readonly></textarea>
        </div>
    </div>


    <br/> 
    <div class="form-group">
      

        <div class="col-xs-12 col-sm-6 col-md-3">
           <a href="#/search"><button type="button" class="btn btn-default btn-md form-control">
              Close
            </button></a>
        </div>

         <div class="col-xs-12 col-sm-6 col-md-3">
    <!--<a><input type="submit" value="Request Reservation" class="btn btn-default btn-md form-control"--></a>
            <a><button type="button" ng-click="details.storeDetails()" class="btn btn-default btn-md form-control">
              Edit Reservation
            </button></a>
       </div>
    </div>
  </form>
    
</div>
